<div>
    <div ng-hide="appEditing.editing">
        <h1>{{appInfo.appName}}</h1>
        <p><em>Description</em> {{appInfo.appDescription}}</p>
    </div>
    <div ng-show="appEditing.editing">
        <p>
            <em>Name</em><br/>
            <input type="text" ng-model="appEditing.name">
        </p>
        <p>
            <em>Description</em><br/>
            <textarea
                ng-model="appEditing.description"
                rows="5" cols="50">
            </textarea>
        </p>
    </div>
    
    <p ng-hide="appEditing.editing">
        <input type="button" value="Edit App" ng-click="editApp()">
    </p>
    <p ng-show="appEditing.editing">
        <input type="button" value="Save" ng-click="saveAppChanges()">
        <input type="button" value="Cancel" ng-click="cancelEditingApp()">
        <p ng-show="appEditing.hasError">Error: {{appEditing.error}}</p>
    </p>
    
    
    <p><em>App ID</em> {{appInfo.appID}}</p>
    
    <p><input type="button" value="Delete App" ng-click="deleteApp()"></p>
</div>

<div>
    <h2>Tokens</h2>
    <input type="button" value="New app token" ng-click="makeNewToken()">
    <ul>
        <li ng-show="0 === appInfo.tokens.length">
            No tokens.
        </li>
        <li ng-repeat="tokenInfo in appInfo.tokens">
            {{tokenInfo.tokenString}}
            <input type="button" value="delete"
                   ng-click="deleteToken(tokenInfo)">
        </li>
    </ul>
</div>

<div>
    <h2>Packages</h2>
    <p ng-hide="appPackagesEditing.editing">
        <input type="button" value="Edit Packages" ng-click="editPackages()">
    </p>
    <p ng-show="appPackagesEditing.editing">
        <input type="button" value="Save" ng-click="savePackageChanges()">
        <input type="button" value="Cancel" ng-click="cancelEditingPackages()">
        <p ng-show="appPackagesEditing.hasError">Error: {{appPackagesEditing.error}}</p>
    </p>
    <div ng-hide="appPackagesEditing.editing">
        <ul>
            <li ng-show="0 === appInfo.packageSummaries.length">
                No packages.
            </li>
            <li ng-repeat="summary in appInfo.packageSummaries">
                <p>{{summary.packageNameSummary}}</p>
                <p>{{summary.packageDescriptionSummary}}</p>
                <p><em>Uses Prelude</em> {{summary.packageUsesPreludeSummary}}</p>
                <p><em>Is Public</em> {{summary.packageIsPublicSummary}}</p>
                <p>
                    <em>Modules</em>
                    <ul>
                        <li ng-show="0 === summary.packageModuleNamesSummary.length">
                            No modules.
                        </li>
                        <li ng-repeat="moduleName in summary.packageModuleNamesSummary">
                            {{moduleName}}
                        </li>
                    </ul>
                </p>
            </li>
        </ul>
    </div>
    <div ng-show="appPackagesEditing.editing">
        <ul>
            <li ng-show="0 === appPackagesEditing.candidatePackages.length">
                No packages to add.
            </li>
            <li ng-repeat="summary in appPackagesEditing.candidatePackages">
                <p>
                    <input type="checkbox"
                           ng-model="summary.isUsed"
                           ng-disabled="summary.packageIsPreludeSummary">
                    {{summary.packageNameSummary}}
                </p>
                <p>{{summary.packageDescriptionSummary}}</p>
                <p><em>Uses Prelude</em> {{summary.packageUsesPreludeSummary}}</p>
                <p><em>Is Public</em> {{summary.packageIsPublicSummary}}</p>
                <p>
                    <em>Modules</em>
                    <ul>
                        <li ng-show="0 === summary.packageModuleNamesSummary.length">
                            No modules.
                        </li>
                        <li ng-repeat="moduleName in summary.packageModuleNamesSummary">
                            {{moduleName}}
                        </li>
                    </ul>
                </p>
            </li>
        </ul>
    </div>
</div>

<div>
    <h2>Interactive REPL</h2>
    <div style="border: 1px solid grey;">
      <textarea
         ui-codemirror="cmOption"
         ui-refresh="replNeedsUpdate"
         ng-model="replInfo.output"></textarea>
    </div>
    <form ng-submit="sendREPL()">
        <input type="text"
               size="80"
               ng-model="replInfo.input" />
        <input type="button"
               value="Send"
               ng-click="sendREPL()" />
        <input type="button"
               value="Clear"
               ng-click="resetREPL()" />
    </form>
</div>

<div>
    <h2>Parse Errors</h2>
    <ul>
        <li ng-show="0 === appInfo.parseErrorSummaries.length">
            No parse errors.
        </li>
        <li ng-repeat="err in appInfo.parseErrorSummaries">
            <p><em>Type</em> {{err.errorTypeSummary}}</p>
            <p><em>Input</em> {{err.errorInputSummary}}</p>
            <p ng-show="'UnknownWord' === err.errorTypeSummary">
                <em>Word</em> {{err.errorWordSummary}}
            </p>
            <p ng-show="'IncompleteParse' === err.errorTypeSummary">
                <em>Chart</em>
                <input type="button"
                       ng-show="true !== err.hasChartInfo"
                       value="Load"
                       ng-click="loadChart(err.errorIDSummary)"
                       />
            </p>
            <div ng-show="true === err.hasChartInfo">
                <ul>
                    <li ng-repeat="bracketting in err.chartInfo">
                        <span ng-repeat="bracket in bracketting">
                            [<sub>{{bracket.sequenceLabel}}</sub> {{bracket.sequenceWords}}]
                        </span>
                    </li>
                </ul>
            </div>
            <p>
                <input type="button"
                       value="Delete"
                       ng-click="deleteParseError(err.errorIDSummary)"
                       />
            </p>
        </li>
    </ul>
</div>