<div>
    <h1>Password Reset Request</h1>
    <p>After receiving a reset code in your email, change your password below.</p>
    <form ng-submit="requestReset()">
        <p>Username: <input type="text" ng-model="resetInfo.username"></p>
        <p><input type="submit" ng-disabled="!requestIsValid() || requestResponse.clicked"></p>
        <p ng-show="requestResponse.hasResponse">
            {{requestResponse.response}}
        </p>
    </form>
</div>
<div>
    <h1>Password Reset Confirmation</h1>
    <form name="resetForm"
          ng-submit="completeReset()">
        <p>Username: <input type="text" ng-model="resetInfo.username"></p>
        <p>Reset code: <input type="text" ng-model="resetInfo.resetCode"></p>
        <p>New password: <input type="password" ng-model="resetInfo.newPassword"></p>
        <p>Confirm new password: <input type="password" ng-model="resetInfo.confirmNewPassword"></p>
        <p><input type="submit" ng-disabled="!resetValid() || resetResponse.clicked"></p>
        <p ng-hide="resetForm.$pristine || resetValid()">
            {{resetValidityError()}}
        </p>
        <p ng-show="resetResponse.hasResponse">
            {{resetResponse.response}}
        </p>
        <p ng-show="resetResponse.successful">
            <a href="#/">Return to the login page</a>
        </p>
    </form>
</div>